body{

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;

}

hr{
  display: block;
  width: 100%;
  height: 1px;
  margin: 35px 0;
  border: 0;
  background-color: #e5e5e5;
}

.page{
  overflow: hidden;
}

.container{
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

  /* INTRO */

.intro{
  width: 100%;
  height: 100vh;
  background: url("img/intro.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 820px;
  position: relative;
}

.intro__inner{
  max-width: 880px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0 auto;;
}

.intro__suptitle{
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  text-align: center;
  margin-bottom: 42px;
}

.intro__title{
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.intro__title:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 60px auto ;
}



/* HEADER */
.header{
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
}

.header.fixed{
  padding-top: 10px;
  padding-bottom: 10px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);

  background-color: #eb8d8d;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2)
}

.header.active{
  background-color: #eb8b8d;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/* NAV */
.nav{
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link{
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;

  color: #fff;
  text-decoration: none;

  transition: color 0.1s linear;
  position: relative;
}

.nav__link:after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  opacity: 0;

  transition: opacity 0.1s linear;
}

.nav__link:hover{
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after{
  opacity: 1;
}

.nav__link.active{
  color: #fce38a;
}

/* nav__toggle */

.nav__toggle{
  display: none;
  width: 30px;
  padding: 10px 0;

  font-size: 0;
  color: transparent;

  border: 0;
  background: none;

  position: absolute;
  top: 33px;
  right: 24px;
  z-index: 1;
}

.nav__toggle.active .nav__toggle__item{
  background: none;
}

.nav__toggle.active .nav__toggle__item::before{
  transform-origin: left top;
  transform: rotate(45deg) translateX(-2px);
}

.nav__toggle.active .nav__toggle__item::after{
  transform-origin: left bottom;
  transform: rotate(-45deg) translateX(-3px);
}

.nav__toggle__item{
  display: block;
  background-color: #fff;
  width: 100%;
  height: 3px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;

  transition: background 0.2s linear;
}

.nav__toggle__item::before,
.nav__toggle__item::after{
  content: "";
  width: 100%;
  height: 3px;

  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform 0.2s linear;
}

.nav__toggle__item::before{
  top: -8px;
}

.nav__toggle__item::after{
  top: 8px;
}

/* BTN */

.btn{
  display: inline-block;
  vertical-align: top;

  border: 3px solid #fff;
  padding: 8px 30px;

  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;

  transition: color,background .1s linear;
}

.btn:hover{
  background-color: #fff;
  color: #333;
}

/* SLIDER */

.slider{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner{
  display: flex;
  justify-content: space-between;
}

.slider__item{
  width: 24%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;

  padding: 20px 0;

  border-top: 3px solid #fff;

  opacity:0.7;

  position: relative;
}

.slider__item.active{
  opacity: 1;
}

.slider__item.active:before{
  content: "";
  display: block;
  width: 70px;
  height: 3px;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;

  background-color: #f38181;
}

.slider__number{
  font-size: 24px;
  font-weight: bold;
}

/* SECTION */

.section{
  padding: 80px 0px;
}

.section--gray{
  border-color: #fff;
}

.section__header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 50px;
  text-align: center;
}

.section__suptitle{
  color: #333;
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 20px;
  font-weight: 400;
}

.section__title{
  color: #333;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.section__title:after{
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto 50px;
}

.section__text{
  color: #cccccc;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 50px;
}

.section--clients{
  background: #f5f5f5 url("img/clients/bg.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.section--map{
  background: url("img/open map/open map.jpg") center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  padding: 30px 0;
}
/* ABOUT */

.about{
  margin: 80px -15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__item{
  width: 33.33333%;
  padding: 0px 15px;
}

.about__item:hover .about__img{
  transform: translate3d(-10px,-10px,0);
}

.about__item:hover .about__img img{
  opacity: 0.1;
}

.about__inner{
  background-color: #95e1d3;
  position: relative;
}

.about__img{
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.about__img img{
  display: block;
  transition: opacity .1s linear;
  transition: transform .2s linear;

  max-width: 100%;
  height: auto;
}

.about__text{
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0,-50%,0);
  z-index: 2;
  width: 100%;
  opacity: 0;
  transition: opacity .2s linear;
}

.about__item:hover .about__text{
  opacity: 1;
}

/* STATISTICS */

.statistics{
  background-color: #95e1d3;
  display: flex;
  justify-content: space-between;
}

.stat{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stat__item{
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
  padding: 70px 25px;
}

.stat__item:last-child{
  border-right: 1px solid #b5eae0;
}

.stat__num{
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
}

.stat__text{
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* SERVICES */

.services{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.services__item{
  width: 33.33333%;
  position: relative;
  margin-bottom: 40px;
  padding: 0 35px 40px 85px;
}

.services__item--border{
  border-bottom: 1px solid #e5e5e5;
}

.services__img{
  position: absolute;
  top: 0;
  left: 25px;;
  z-index: 1;
}

.service__title{
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.services__text{
  font-size: 15px;
  font-family: 'Roboto';
  color: #999;
}

/* SECTION-DEVICES */

.section--devices{
  background: url('img/unique/bg.jpg') center no-repeat;
  background-size: cover;
  padding-bottom: 0;
}

.devices{
  max-width:  600px;
  margin: 0 auto;
  position: relative;
}

.devices__item{
  display: block;
  max-width: 100%;
  height: auto;
}

.devices__item--iphone{
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}

/* WEDO */

.wedo{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.wedo__item{
  width: 50%;
  padding: 0 15px;
}

.wedo__img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* ACCORD */

.accord__item{
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.accord__item.active .accord__content{
  display: block;
}

.accord__item.active .accord__header{
  border-bottom: 1px solid #e5e5e5;
}

.accord__item.active .accord__header:after{
  transform: translateY(-50%)
  rotate(-45deg);
  margin-top: 5px;
}

.accord__header{
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 20px 15px 60px;
  position: relative;
  cursor: pointer;
}

.accord__header:after{
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%)
  rotate(135deg);

}

.accord__icon{
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  transform: translate3d(0, -50%, 0);
}

.accord__content{
  font-family: 'Roboto' , 'Open sans';
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999;
  padding: 15px 20px;

  display: none;
}

.accord__title{
  font-family: 'Montserrat' , sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
}

/* REVIEWS */
.section.section--gray{
  background-color: #f8f8f8;
}
.reviews{
  padding: 0 110px;
  position: relative;
}

.reviews__item{
  padding-left:  255px;
  position: relative;
}

.reviews__img{

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  border: 2px solid #95e1d3;
  width: 180px;
  height: 180px;
}

.reviews__text{
  font-size: 24px;
  font-family: 'Montserrat' , sans-serif;
  color: #999;
  font-weight: 300;
  margin-bottom: 20px;
}

.reviews__author{
  font-size: 24px;
  color: #333;
  font-family: 'Kaushan Script' , sans-serif;
}

.reviews__author::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #f38181;
}

.reviews__btn{
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  z-index: 1;

  transform: translateY(-50%)
}

.reviews__btn:after{
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.reviews__btn--prev{
  left: 0;
  transform: rotate(-45deg);
}

.reviews__btn--next{
  right: 0;
  transform: rotate(135deg);
}
/* TEAM */
/* SOCIAL */

.social{
  display: flex;
  justify-content: center;
}

.social__item{
  background-color: #fce38a;
  border-right: 1px solid #f38181;
  width: 55px;
  height: 50px;
  transition: filter .2s linear,  background .2s linear;
}

.social__item:hover {
    background-color: #f38181;
}

.social__item:last-child{
  border-right:0;
}

.social__img{
  padding: 15px 15px;
}

.social__img:hover{
    filter:grayscale(100%);
}

.about__info{
  margin-top: 25px;
  text-align: center;
}

.about__name{
  font-family: 'Montserrat' , sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.about__prof{
  font-family: 'Roboto' , sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  color: #b6b6b6;
}

.logotypes{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.logotypes__item{
  padding: 0 15px;
}

.logotypes__img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* WORKS */

.works{
  display:flex;
}

.works__col{
  flex: 1 1 0
}

.works__item{
  position: relative;

  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__info{
  opacity: 1;
}

.works__item:hover .works__img{
  opacity: 0.1;
}

.works__img{
  transition: opacity .2s linear;
  display: block;
  max-width: 100%;
  height: auto;
}

.works__info{
  width: 100%;
  padding: 0 15px;
  text-align: center;
  color: #fff;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform: translate3d(0, -50%, 0);

  opacity: 0;
  transition: opacity .2s linear;
}

.works__title{
  font-family: 'Montserrat' , sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;

  margin-bottom: 5px;
}

.works__text{
  font-family: 'Roboto' , sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

.reviews--testimonials{
  border-radius: 50%;
}

/* CLIENTS */

.clients{
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}

.clients__item{
  width: 50%;
  flex-wrap: wrap;

  padding: 0 45px 0 175px;
  position: relative;

  margin-bottom: 60px;
}

.clients__img{
  width: 110px;
  height: 110px;

  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}

.clients__name{
  font-family: 'Montserrat' , sans-serif ;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.clients__prof{
  font-family: 'Roboto' , sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
}

.clients__prof:after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 10px 0;
}

.clients__text{
  font-family: 'Roboto' , sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #b3b3b3;
}

/* BLOG */

.blog{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item{
  width: 31%;
}

.blog__header{
  position: relative;
  margin-bottom: 15px;
}

.blog__img{
  display: block;
  max-width: 100%;
  height: auto;
}

.blog__date{
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: 1;

  background-color: #95e1d3;
  color: #fff;

  font-family: 'Montserrat' , sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;

  padding: 10px 20px;
}

.blog__date__day{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 1;
}

.blog__content{
  margin-bottom: 15px;
}

.blog__title{
  font-size: 14px;
  text-transform: uppercase;
  color: #333;

  margin-bottom: 10px;
}

.blog__title a{
  color: inherit;
}

.blog__title a:hover{
  text-decoration: underline;
}

.blog__text{
  font-family: 'Roboto' , sans-serif;
  font-size: 15px;
  color: #999;
}

.blog__footer{
  border-top: 1px solid #e5e5e5;
  padding-top: 14px;
  color: #999;

  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.blog__stat__item{
  display: inline-block;
  vertical-align: top;

  margin-right: 10px;
}

.blog__icons{
  margin-right: 5px;
}

/* OPEN MAP */

.map{
  text-align: center;
}

.map__title{
  font-family: 'Montserrat' , sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #f38181;
  text-transform: uppercase;
}

.map__title a{
  color: inherit;
}

.map__title a:hover{
  text-decoration: underline;
}

.map__title::after{
  content: "";
  display: block;
  width: 63px;
  height: 3px;
  background-color: #f38181;
  margin: 15px auto 0;
}

/* FOOTER */

.footer{
  padding-top: 65px;
  background-color: #f8f8f8;
}

.footer__inner{
  padding-bottom: 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__col{
  padding: 0 15px;
}

.footer__logo{
  color: #cccccc;
  font-family: 'Montserrat' , sans-serif;
  font-weight: bold;
  font-size: 46px;

  margin-bottom: 30px;
}

.footer__text{
  font-family: 'Roboto' , sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999;

  margin-bottom: 15px;
}

.footer__social__header{
  font-size: 14px;
  color: #333;

  border-bottom: 1px solid #e5e5e5;

  padding-bottom: 15px;
}

.footer__social__header b{
  font-size: 18px;
}

.footer__social__content{
  padding-top: 15px;
  margin-bottom: 25px;

  color: #999;
  font-weight: 300;
  font-style: italic;
}

.footer__social__content a{
  display: inline-block;
  vertical-align: middle;

  margin-left: 15px;

  width: 20px;
  height: auto;
}

.footer__col--first{
  width: 40%;
}

.footer__col--second{
  width: 29%;
}

.footer__col--third{
  width: 19.2%;
}

.footer__title{
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  line-height: 1.2;

  margin-bottom: 30px;
  margin-top: 25px;
}

/* BLOGS */

.blogs__item{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.blogs__img {
  width: 120px;
  height: 80px;
}

.blogs__content{
  padding-left: 20px;
}

.blogs__title{
  font-size: 12px;
  color: #333;
  text-transform: uppercase;
  display: block;

  margin-bottom: 5px;
  line-height: 1.5;
}

.blogs__title:hover{
  text-decoration: underline;
}

.blogs__date{
  font-size: 13px;
  color: #999;
  font-style: italic;
  font-weight: 300;
}

/* INST */

.instagram{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.instagram__item{
  width: 33%;
  border-bottom: 1px solid #fff;
}

.instagram__item img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* SUBSCRIBE */

.subscribe{
  width: 100%;
  max-width: 380px;
  display: flex;
}

.subscribe__input{
  background-color: #fff;
  border: 1px solid #e7e7e7;

  font-family: 'Montserrat' , sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #333;
  font-weight: 300;
  line-height: 1.1;

  padding: 12px;
  height: 40px;
  width: 60%;
}

.subscribe__input::placeholder{
  color: #ccc;
}

.subscribe__btn{
  height: 40px;
  padding: 12px 30px;
  width: 40%;

  background-color: #95e1d3;
  border: 0;
  cursor: pointer;

  font-family: 'Montserrat' , sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;

  transition: background .2s linear;
  }

.subscribe__btn:hover{
  background-color: #74c7b8;
}

.subscribe__input:focus{
  outline: 0;
  border-color: #74c7b8;
}

.subscribe__btn:focus{
  outline: 0;
}

/* copyright */

.copyright{
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;

  font-size: 14px;
  text-align: center;
  color: #333;
}

.copyright span{
  color: #f38181;
}










/*  */
